.regis{  background-color: rgb(23, 23, 40);
    background-image: url(../back/konser1.jpg);
    background-size: 40%;
    background-repeat: no-repeat;}

    
.DataDiri{
    border-bottom: 3px dashed #28ffa6 ;
    color: white;
    margin: auto;
    width: 640px;
    padding: 50px;
    box-sizing: border-box;
    position: relative;

    overflow: hidden;
    
}

.DataDiri::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  #73097f;
    background-size: cover;
    filter: blur(200px); /* Atur jumlah blur sesuai kebutuhan */
    z-index: -1;}

input[type="text"], input[type="email"], input[type="password"], input[type="NIK"], input[type="hp"] {
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
    height: 20px;
  }


.Pembayaran{
    /* border: 10px solid purple; */
    color: white;
    margin: auto;
    width: 640px;
    padding: 50px;
    box-sizing: border-box;
    position: relative;

    overflow: hidden;

}

.Pembayaran::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  #73097f;
    background-size: cover;
    filter: blur(200px); /* Atur jumlah blur sesuai kebutuhan */
    z-index: -1;}

.regis input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #410946;
    color: #28ffa6;
    border: none;
    margin-left: 
    20px ;
}

.regis label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.regis h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;    
}

.regis textarea{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #28ffa6;
    background-color:  #410946;
    border: none;
    margin-left: 20px;
    font-size: 15px;
}
/* .regis input[type="email"]:valid::after {
    content: "Valid email";
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #28ffa6;
    background-color: #73097f!important;
    padding: 5px;
} */

.regis input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: 20px ;
    margin-bottom: 20px ;

  }

.kelamin input[type="radio"][value="1"]{
    background-image: url(../icon/laki2.png);
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;
    margin-left: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 70%;
    background-position: center;
    transition: all 1s;
}

.kelamin input[type="radio"][value="2"]{
    background-image: url(../icon/perempuan.png);
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;
    margin-left: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 70%;
    background-position: center;
    transition: all 1s;
}

.kelamin input[type="radio"]:checked {
    background-color: #28ffa6;
    border-color: #73097f;
    
  }

.Pembayaran input[type='radio'][value='credit']{
    background-image: url(../icon/credit.png);
    display: inline-block;
    width: 100px;
    height: 100px;

    border: 2px solid #ccc;
    margin-left: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 70%;
    background-position: center;
    transition: all 1s;

}
.Pembayaran input[type='radio'][value='debit']{
    background-image: url(../icon/debit.png);
    display: inline-block;
    width: 100px;
    height: 100px;

    border: 2px solid #ccc;
    margin-left: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 70%;
    background-position: center;
    transition: all 1s;

}

.Pembayaran input[type='radio'][value='e-wallet']{
    background-image: url(../icon/e-wallet.png);
    display: inline-block;
    width: 100px;
    height: 100px;

    border: 2px solid #ccc;
    margin-left: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 70%;
    background-position: center;
    transition: all 1s;

}

.Pembayaran input[type="radio"]:checked {
    background-color: #28ffa6;
    border-color: #73097f;
    
  }

.regis input[type='submit']{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs;
    border: #73097f solid 20px;
    font-size: 50px;
    background-color: #73097f;
    display: block; /* Penting untuk menggunakan margin: 0 auto; */
    margin: 0 auto;

    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
    transition: all 0.5s;
    

}

.regis input[type='submit']:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #28ffa6;
    border: #28ffa6  solid 30px;
  }